
<h3><span class="bg-secondary px-3">会員一覧</span></h3>

<table class="table">
    <thead class="">
        <tr>
            <th scope="col">会員ID</th>
            <th scope="col">氏名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customers| %>
            <tr>
                <td scope="row"><%= customers.id %></td>
                <td scope="row">
                    <%= link_to admin_customer_path(customers.id) do %>
                    <%= customers.last_name %>
                    <%= customers.first_name %>
                    <% end %>
                </td>
                <td scope="row"><%= customers.email %></td>
                <td scope="row">
                    <% if customers.is_active == true %>
                        <p class="text-success">有効</p>
                    <% else %>
                        退会
                    <% end %>
                </td scope="row">
            </tr>
        <% end %>
    </tbody>
</table>