<h1>注文情報確認</h1>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

<% @cart_items.each do |cart| %>
  <tbody>
    <tr>
      <td><%= attachment_image_tag cart.item, :image, :fill, 100, 100, format: 'jpeg' %><%= cart.item.name %></td>
      <td><%= cart.item.price %></td>
      <td><%= cart.amount %></td>
      <td><%= cart.item.price * cart.amount %></td>
    </ltr>
  </tbody>
<% end %>

</table>

<table>
  <thead>
    <tr><th>送料</th><td><%= @order.shipping_cost %></td></tr>
    <tr><th>商品合計</th><td><%= @cart_items.total_price %></td></tr>
    <tr><th>請求金額</th><td><%= @order.shipping_cost + @cart_items.total_price %></td></tr>
  </thead>
</table>

<table>
  <thead>
    <tr><th>支払い方法</th><td><%= @order.payment_method %></td></tr>
    <tr>
      <th>お届け先</th>
      <td>
          <%= @order.address %>
          <%= @order.postal_code %>
          <%= @order.name %>
      </td>
    </tr>
  </thead>
</table>

<%= form_with model: @order, local: true do |f| %>
  <%= f.hidden_field :address, :value => @order.address %>
  <%= f.hidden_field :address, :value => @order.postal_code %>
  <%= f.hidden_field :address, :value => @order.name %>
  <%= f.submit "注文を確定する" %>
<% end %>
